In [1]:
import pandas as pd
df = pd.read_csv("gossip_combine.csv")
df = df.reset_index(drop=True)

In [2]:
from imblearn.over_sampling import SMOTE
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
df = df.sample(frac=1, random_state=1)
X= df[['sp_count','up_count','title_cha','title_word','cha_word','up_cha','up_word','bad_word']]
y= df[['class']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)
columns = X_train.columns

In [4]:
#### SMOTE on the training data

os = SMOTE(random_state=0)
os_data_X,os_data_y=os.fit_sample(X_train,y_train)
os_data_X = pd.DataFrame(data=os_data_X,columns=columns )
os_data_y= pd.DataFrame(data=os_data_y,columns=['y'])

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

os_data_X,os_data_y=os.fit_sample(X_train, y_train)
os_data_X = pd.DataFrame(data=os_data_X,columns=columns )
os_data_y= pd.DataFrame(data=os_data_y,columns=['y'])

In [5]:
# we can Check the numbers of our data
print("length of oversampled data is ",len(os_data_X))
print("Number of real news in oversampled data",len(os_data_y[os_data_y['y']==0]))
print("Number of fake news",len(os_data_y[os_data_y['y']==1]))
print("Proportion of real news in oversampled data is ",len(os_data_y[os_data_y['y']==0])/len(os_data_X))
print("Proportion of fake news in oversampled data is ",len(os_data_y[os_data_y['y']==1])/len(os_data_X))

length of oversampled data is  23558
Number of real news in oversampled data 11779
Number of fake news 11779
Proportion of real news in oversampled data is  0.5
Proportion of fake news in oversampled data is  0.5

In [6]:
print("length of original data is ",len(X_train))
print("length of original data is ",len(y_train))
print("Number of real news in original data",len(y_train[y_train['class']==0]))
print("Number of fake news",len(y_train[y_train['class']==1]))
print("Proportion of real news in oversampled data is ",len(y_train[y_train['class']==0])/len(X_train))
print("Proportion of fake news in oversampled data is ",len(y_train[y_train['class']==1])/len(X_train))

length of original data is  15498
length of original data is  15498
Number of real news in original data 11779
Number of fake news 3719
Proportion of real news in oversampled data is  0.7600335527164795
Proportion of fake news in oversampled data is  0.23996644728352046

In [7]:
new_df = os_data_X
new_df['class'] = os_data_y

In [8]:
new_df.tail()

,sp_count,up_count,title_cha,title_word,cha_word,up_cha,up_word,bad_word,class
23553,0.000000,12.000000,67.000000,11.000000,6.100000,17.000000,109.0,0.0,1
23554,2.948988,9.051012,62.000000,10.051012,6.169393,14.102024,90.0,0.0,1
23555,4.875074,16.000000,91.124926,18.000000,5.106246,17.000000,88.0,0.0,1
23556,3.000000,4.000000,49.611748,8.000000,6.161175,8.000000,50.0,0.0,1
23557,0.000000,6.000000,32.587406,6.000000,5.417481,18.000000,100.0,0.0,1

In [9]:
## export the data
new_df.to_csv(r'gossip_SMOTE.csv')

In [10]:
print("length of oversampled data is ",len(new_df))
print("Number of real news in oversampled data",len(new_df[new_df['class']==0]))
print("Number of fake news",len(new_df[new_df['class']==1]))

length of oversampled data is  23558
Number of real news in oversampled data 11779
Number of fake news 11779

In [11]:
# test data
test_df = pd.DataFrame(data=X_test,columns=columns )
test_df['class']=y_test

In [13]:
test_df.tail()

,sp_count,up_count,title_cha,title_word,cha_word,up_cha,up_word,bad_word,class
12582,0,5,36,8,4.5,13,62,0,0
14639,2,4,50,8,6.2,8,50,0,0
4023,0,11,48,11,4.4,22,100,0,0
20232,4,15,70,15,4.7,21,100,0,1
9864,0,4,56,12,4.7,7,33,0,0

In [14]:
print("length of test data is ",len(test_df))
print("Number of real news in test data",len(test_df[test_df['class']==0]))
print("Number of fake news",len(test_df[test_df['class']==1]))

length of test data is  6642
Number of real news in test data 5038
Number of fake news 1604

In [15]:
## export the test data

test_df.to_csv(r'gossip_SMOTE_test.csv')